{% extends "base.html" %}

{% block title %}Kulaklıklar{% endblock title %}

{% block body %}

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Bilgisayarlar</h1>
                        <p class="lead fw-normal text-muted mb-0">Site Üzerindeki Bütün Bilgisayar Ve Yan Ürünlerine Erişebilirsiniz.</p>
                    </div>
                    <div class="row gx-5">
                    {% for bluetooths in bluetooth %}
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="{{bluetooths.image.url}}" alt="..." />
                                <style>
                                    .img-fluid{
                                        width: 1120px;
                                        height: 320px;
                                    }
                                </style>
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">{{bluetooths.name}}</a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </section>
        </main>
    </body>

{% endblock body %}