{% extends "base.html" %}
{% load static %}

{% block title %}Anasayfa{% endblock title %}

{% block body %}
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">MKT-COMMERCE HOŞGELDİNİZ</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Türkiye'de ve dünyada en yeni ve popüler ürünlerin en hızlı şekilde satıldığı tek nokta!</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'img/iphone600x400.jpg' %}" alt="..." /></div>
                    </div>
                </div>
            </header>
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Başlıca Ürünlerimiz</h1>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <div class="feature bg-gradient text-white rounded-3 mb-3"><img src="{% static 'img/phoneicon2.jpg' %}"></div>
                                <h2 class="fw-bolder">Akıllı Telefon</h2>
                                <p class="lead fw-normal text-muted mb-5">Popüler Markaların En Yeni Telefon Ve Yan Ürünleri</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <div class="feature bg-gradient text-white rounded-3 mb-3"><img src="{% static 'img/pcicon2.jpg' %}"></div>
                                <h2 class="fw-bolder">Bilgisayar</h2>
                                <p class="lead fw-normal text-muted mb-5">Dizüstü Bilgisayarlar Ve Monitörler</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <div class="feature bg-gradient text-white rounded-3 mb-3"><img src="{% static 'img/tvicon.jpg' %}"></div>
                                <h2 class="fw-bolder">Televizyon</h2>
                                <p class="lead fw-normal text-muted mb-5">Televizyon Başta Olmak Üzere Ev Aletleri</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <div class="feature bg-gradient text-white rounded-3 mb-3"><img src="{% static 'img/bluetoothicon.jpg' %}"></div>
                                <h2 class="fw-bolder">Kulaklık</h2>
                                <p class="lead fw-normal text-muted mb-5">Birden Fazla Markadan Bluetooth Kulaklıklar</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mb-5">
                        <a href="{% url 'products' %}"><button class="btn btn-dark btn-lg px-4 me-sm-3">Ürünlere Göz Atın</button></a>
                    </div>
                </div>
            </section>
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">En yeni Ürünlerimiz</h2>
                                <p class="lead fw-normal text-muted mb-5"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..."/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Blog post title</h5></a>
                                    <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Another blog post title</h5></a>
                                    <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">The last blog post title is a little bit longer than the others</h5></a>
                                    <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>

{% endblock body %}